body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 10px;
    padding: 10px;
    gap: 5px;
   
}

.container1 {
    display:flex;
    flex-direction: column;
    flex: 1;
}

    .box1 {
        display: flex;
        flex: 1;
        justify-content: space-between;
        
    }

        .item1a {
            display: flex;
            
        }

        .item1b {
            display: flex;
            justify-content: space-between;
            list-style: none;
            gap: 10px;
        }

       

    .box2 {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 5px;
        align-items: center;
    }

    .box3 {
        align-self: flex-end;
    }

.container2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .item4a {
        justify-self: center;
    }

    .box5 {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }

        .subbox1, .subbox2, .subbox3, .subbox4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

.container3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container4 {
    display: flex;
    flex: 1;
    
}

    .box7 {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    .box8 {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        
    }

.container5 {
    display: flex;
    flex-direction: column;
    flex: 0 1 8%;
    align-items: center;
    
}




